[project]
name = "crawljav"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.11"
dependencies = [
    "bs4>=0.0.2",
    "httpx>=0.28.1",
    "pyqt5==5.15.11",
    "pyqt5-qt5==5.15.11",
]
